





.caja1 {
    background-color: aqua; 
    width: 100px;
    height: 100px;
} 
 
.caja2 {background-color: khaki;
    width: 100px;
    height: 100px;
    }
.caja3 {background-color: rgb(122, 12, 247);
    width: 100px;
    height: 100px;
        }
.caja4 {background-color: rgb(243, 11, 154);
    width: 100px;
    height: 100px;
            }

                      

